<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>AdHOC Application</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <title></title>
	  <meta name="description" content="AdHoc, NAV applikasjonen">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	
	  <link rel="manifest" href="site.webmanifest">
	  <link rel="apple-touch-icon" href="icon.png">
	  <!-- Place favicon.ico in the root directory -->
	
	  <link rel="stylesheet" href="/css/normalize.css">
	  <link rel="stylesheet" href="/css/main.css">
	
	  <meta name="theme-color" content="#fafafa">
</head>
<body>

	<header>
		<div class="header_mainlogo">
			<a href="/"><img src="/img/navicons/NAVlogo.png" title="AdHOC application" alt="NAV" class="mainlogo" /></a>
		</div>
	</header>
	
	<div class="container">
		<div class="central">
			<h1 th:text="'' + ${title} + ''"></h1>
			<h2 th:text="'' + ${subtitle} + ''"></h2>
		</div>
		<div th:utext="${content}"></div>
	</div>
		  
  <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>    
</body>
</html>
